body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:380px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u3351_div {
  position:absolute;
  left:0px;
  top:0px;
  width:318px;
  height:506px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3351 {
  position:absolute;
  left:60px;
  top:100px;
  width:318px;
  height:506px;
}
#u3352 {
  position:absolute;
  left:2px;
  top:245px;
  width:314px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3353_div {
  position:absolute;
  left:0px;
  top:0px;
  width:318px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3353 {
  position:absolute;
  left:60px;
  top:60px;
  width:318px;
  height:40px;
}
#u3354 {
  position:absolute;
  left:2px;
  top:12px;
  width:314px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3355_img {
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  height:26px;
}
#u3355 {
  position:absolute;
  left:70px;
  top:67px;
  width:17px;
  height:26px;
}
#u3356 {
  position:absolute;
  left:2px;
  top:5px;
  width:13px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3357 {
  position:absolute;
  left:60px;
  top:59px;
  width:40px;
  height:40px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u3358_div {
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  font-size:14px;
  text-align:center;
}
#u3358 {
  position:absolute;
  left:139px;
  top:69px;
  width:160px;
  height:20px;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  font-size:14px;
  text-align:center;
}
#u3359 {
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  word-wrap:break-word;
}
#u3360_div {
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u3360 {
  position:absolute;
  left:60px;
  top:100px;
  width:64px;
  height:25px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u3361 {
  position:absolute;
  left:2px;
  top:4px;
  width:60px;
  word-wrap:break-word;
}
#u3362_div {
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u3362 {
  position:absolute;
  left:124px;
  top:100px;
  width:64px;
  height:25px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u3363 {
  position:absolute;
  left:2px;
  top:4px;
  width:60px;
  word-wrap:break-word;
}
#u3364_div {
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u3364 {
  position:absolute;
  left:188px;
  top:100px;
  width:64px;
  height:25px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u3365 {
  position:absolute;
  left:2px;
  top:4px;
  width:60px;
  word-wrap:break-word;
}
#u3366_div {
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u3366 {
  position:absolute;
  left:251px;
  top:100px;
  width:64px;
  height:25px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u3367 {
  position:absolute;
  left:2px;
  top:4px;
  width:60px;
  word-wrap:break-word;
}
#u3368_div {
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:25px;
  background:inherit;
  background-color:rgba(204, 204, 204, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u3368 {
  position:absolute;
  left:314px;
  top:100px;
  width:64px;
  height:25px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u3369 {
  position:absolute;
  left:2px;
  top:4px;
  width:60px;
  word-wrap:break-word;
}
#u3370_div {
  position:absolute;
  left:0px;
  top:0px;
  width:318px;
  height:211px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u3370 {
  position:absolute;
  left:60px;
  top:125px;
  width:318px;
  height:211px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u3371 {
  position:absolute;
  left:2px;
  top:98px;
  width:314px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3372_img {
  position:absolute;
  left:0px;
  top:0px;
  width:302px;
  height:2px;
}
#u3372 {
  position:absolute;
  left:69px;
  top:175px;
  width:301px;
  height:1px;
}
#u3373 {
  position:absolute;
  left:2px;
  top:-8px;
  width:297px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3374_div {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  font-size:14px;
}
#u3374 {
  position:absolute;
  left:69px;
  top:132px;
  width:150px;
  height:20px;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  font-size:14px;
}
#u3375 {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  word-wrap:break-word;
}
#u3376_div {
  position:absolute;
  left:0px;
  top:0px;
  width:167px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  font-size:14px;
  text-align:right;
}
#u3376 {
  position:absolute;
  left:203px;
  top:132px;
  width:167px;
  height:20px;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  font-size:14px;
  text-align:right;
}
#u3377 {
  position:absolute;
  left:0px;
  top:0px;
  width:167px;
  word-wrap:break-word;
}
#u3378_div {
  position:absolute;
  left:0px;
  top:0px;
  width:199px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:13px;
}
#u3378 {
  position:absolute;
  left:69px;
  top:154px;
  width:199px;
  height:18px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:13px;
}
#u3379 {
  position:absolute;
  left:0px;
  top:0px;
  width:199px;
  word-wrap:break-word;
}
#u3380_div {
  position:absolute;
  left:0px;
  top:0px;
  width:117px;
  height:72px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3380 {
  position:absolute;
  left:67px;
  top:180px;
  width:117px;
  height:72px;
}
#u3381 {
  position:absolute;
  left:0px;
  top:0px;
  width:117px;
  word-wrap:break-word;
}
#u3382_div {
  position:absolute;
  left:0px;
  top:0px;
  width:72px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#000000;
  text-align:right;
}
#u3382 {
  position:absolute;
  left:299px;
  top:213px;
  width:72px;
  height:18px;
  color:#000000;
  text-align:right;
}
#u3383 {
  position:absolute;
  left:0px;
  top:0px;
  width:72px;
  word-wrap:break-word;
}
#u3384_img {
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  height:20px;
}
#u3384 {
  position:absolute;
  left:262px;
  top:310px;
  width:109px;
  height:20px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#FF0000;
  text-align:right;
}
#u3385 {
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  word-wrap:break-word;
}
#u3386_div {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#000000;
  text-align:right;
}
#u3386 {
  position:absolute;
  left:220px;
  top:252px;
  width:150px;
  height:18px;
  color:#000000;
  text-align:right;
}
#u3387 {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  word-wrap:break-word;
}
#u3388_div {
  position:absolute;
  left:0px;
  top:0px;
  width:153px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#000000;
}
#u3388 {
  position:absolute;
  left:67px;
  top:252px;
  width:153px;
  height:18px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#000000;
}
#u3389 {
  position:absolute;
  left:0px;
  top:0px;
  width:153px;
  word-wrap:break-word;
}
#u3390_div {
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:13px;
}
#u3390 {
  position:absolute;
  left:67px;
  top:310px;
  width:64px;
  height:18px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:13px;
}
#u3391 {
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  word-wrap:break-word;
}
#u3392 {
  position:absolute;
  left:60px;
  top:100px;
  width:64px;
  height:25px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u3393 {
  position:absolute;
  left:124px;
  top:100px;
  width:64px;
  height:25px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u3394 {
  position:absolute;
  left:188px;
  top:100px;
  width:64px;
  height:25px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u3395 {
  position:absolute;
  left:252px;
  top:100px;
  width:64px;
  height:25px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u3396 {
  position:absolute;
  left:316px;
  top:100px;
  width:64px;
  height:25px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u3397 {
  position:absolute;
  left:60px;
  top:125px;
  width:318px;
  height:209px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u3398_div {
  position:absolute;
  left:0px;
  top:0px;
  width:318px;
  height:211px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u3398 {
  position:absolute;
  left:60px;
  top:333px;
  width:318px;
  height:211px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u3399 {
  position:absolute;
  left:2px;
  top:98px;
  width:314px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3400_img {
  position:absolute;
  left:0px;
  top:0px;
  width:302px;
  height:2px;
}
#u3400 {
  position:absolute;
  left:69px;
  top:383px;
  width:301px;
  height:1px;
}
#u3401 {
  position:absolute;
  left:2px;
  top:-8px;
  width:297px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3402_div {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  font-size:14px;
}
#u3402 {
  position:absolute;
  left:69px;
  top:340px;
  width:150px;
  height:20px;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  font-size:14px;
}
#u3403 {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  word-wrap:break-word;
}
#u3404_div {
  position:absolute;
  left:0px;
  top:0px;
  width:167px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  font-size:14px;
  text-align:right;
}
#u3404 {
  position:absolute;
  left:203px;
  top:340px;
  width:167px;
  height:20px;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  font-size:14px;
  text-align:right;
}
#u3405 {
  position:absolute;
  left:0px;
  top:0px;
  width:167px;
  word-wrap:break-word;
}
#u3406_div {
  position:absolute;
  left:0px;
  top:0px;
  width:199px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:13px;
}
#u3406 {
  position:absolute;
  left:69px;
  top:362px;
  width:199px;
  height:18px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:13px;
}
#u3407 {
  position:absolute;
  left:0px;
  top:0px;
  width:199px;
  word-wrap:break-word;
}
#u3408_div {
  position:absolute;
  left:0px;
  top:0px;
  width:117px;
  height:72px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3408 {
  position:absolute;
  left:67px;
  top:388px;
  width:117px;
  height:72px;
}
#u3409 {
  position:absolute;
  left:0px;
  top:0px;
  width:117px;
  word-wrap:break-word;
}
#u3410_div {
  position:absolute;
  left:0px;
  top:0px;
  width:72px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:right;
}
#u3410 {
  position:absolute;
  left:299px;
  top:421px;
  width:72px;
  height:18px;
  text-align:right;
}
#u3411 {
  position:absolute;
  left:0px;
  top:0px;
  width:72px;
  word-wrap:break-word;
}
#u3412_div {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:right;
}
#u3412 {
  position:absolute;
  left:220px;
  top:466px;
  width:150px;
  height:18px;
  text-align:right;
}
#u3413 {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  word-wrap:break-word;
}
#u3414_div {
  position:absolute;
  left:0px;
  top:0px;
  width:153px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#000000;
}
#u3414 {
  position:absolute;
  left:67px;
  top:466px;
  width:153px;
  height:18px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#000000;
}
#u3415 {
  position:absolute;
  left:0px;
  top:0px;
  width:153px;
  word-wrap:break-word;
}
#u3416_div {
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:13px;
}
#u3416 {
  position:absolute;
  left:67px;
  top:488px;
  width:64px;
  height:18px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:13px;
}
#u3417 {
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  word-wrap:break-word;
}
#u3418_div {
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:13px;
  color:#000000;
  text-align:right;
}
#u3418 {
  position:absolute;
  left:296px;
  top:488px;
  width:74px;
  height:18px;
  font-size:13px;
  color:#000000;
  text-align:right;
}
#u3419 {
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  word-wrap:break-word;
}
#u3420 {
  position:absolute;
  left:60px;
  top:333px;
  width:318px;
  height:209px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u3421_div {
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:13px;
}
#u3421 {
  position:absolute;
  left:67px;
  top:270px;
  width:64px;
  height:18px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:13px;
}
#u3422 {
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  word-wrap:break-word;
}
#u3423_div {
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:13px;
  color:#000000;
  text-align:right;
}
#u3423 {
  position:absolute;
  left:296px;
  top:270px;
  width:74px;
  height:18px;
  font-size:13px;
  color:#000000;
  text-align:right;
}
#u3424 {
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  word-wrap:break-word;
}
#u3425_div {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  text-align:right;
}
#u3425 {
  position:absolute;
  left:220px;
  top:292px;
  width:150px;
  height:18px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  text-align:right;
}
#u3426 {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  word-wrap:break-word;
}
#u3427_div {
  position:absolute;
  left:0px;
  top:0px;
  width:153px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#000000;
}
#u3427 {
  position:absolute;
  left:67px;
  top:292px;
  width:153px;
  height:18px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#000000;
}
#u3428 {
  position:absolute;
  left:0px;
  top:0px;
  width:153px;
  word-wrap:break-word;
}
