body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:378px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u9849_div {
  position:absolute;
  left:0px;
  top:0px;
  width:318px;
  height:506px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u9849 {
  position:absolute;
  left:60px;
  top:100px;
  width:318px;
  height:506px;
}
#u9850 {
  position:absolute;
  left:2px;
  top:245px;
  width:314px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9851_div {
  position:absolute;
  left:0px;
  top:0px;
  width:318px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u9851 {
  position:absolute;
  left:60px;
  top:60px;
  width:318px;
  height:40px;
}
#u9852 {
  position:absolute;
  left:2px;
  top:12px;
  width:314px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9853_img {
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  height:26px;
}
#u9853 {
  position:absolute;
  left:70px;
  top:67px;
  width:17px;
  height:26px;
}
#u9854 {
  position:absolute;
  left:2px;
  top:5px;
  width:13px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9855 {
  position:absolute;
  left:60px;
  top:59px;
  width:40px;
  height:40px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u9856_div {
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  font-size:14px;
  text-align:center;
}
#u9856 {
  position:absolute;
  left:139px;
  top:69px;
  width:160px;
  height:20px;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  font-size:14px;
  text-align:center;
}
#u9857 {
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  word-wrap:break-word;
}
#u9858_div {
  position:absolute;
  left:0px;
  top:0px;
  width:318px;
  height:75px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u9858 {
  position:absolute;
  left:60px;
  top:99px;
  width:318px;
  height:75px;
}
#u9859 {
  position:absolute;
  left:2px;
  top:30px;
  width:314px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9860_div {
  position:absolute;
  left:0px;
  top:0px;
  width:197px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u9860 {
  position:absolute;
  left:78px;
  top:109px;
  width:197px;
  height:40px;
}
#u9861 {
  position:absolute;
  left:0px;
  top:0px;
  width:197px;
  white-space:nowrap;
}
#u9862_div {
  position:absolute;
  left:0px;
  top:0px;
  width:197px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u9862 {
  position:absolute;
  left:78px;
  top:149px;
  width:197px;
  height:17px;
  font-size:12px;
}
#u9863 {
  position:absolute;
  left:0px;
  top:0px;
  width:197px;
  word-wrap:break-word;
}
#u9864_div {
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:right;
}
#u9864 {
  position:absolute;
  left:338px;
  top:126px;
  width:31px;
  height:22px;
  text-align:right;
}
#u9865 {
  position:absolute;
  left:2px;
  top:2px;
  width:27px;
  white-space:nowrap;
}
#u9866_div {
  position:absolute;
  left:0px;
  top:0px;
  width:318px;
  height:75px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u9866 {
  position:absolute;
  left:60px;
  top:174px;
  width:318px;
  height:75px;
}
#u9867 {
  position:absolute;
  left:2px;
  top:30px;
  width:314px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9868_div {
  position:absolute;
  left:0px;
  top:0px;
  width:197px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u9868 {
  position:absolute;
  left:78px;
  top:184px;
  width:197px;
  height:40px;
}
#u9869 {
  position:absolute;
  left:0px;
  top:0px;
  width:197px;
  white-space:nowrap;
}
#u9870_div {
  position:absolute;
  left:0px;
  top:0px;
  width:197px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u9870 {
  position:absolute;
  left:78px;
  top:224px;
  width:197px;
  height:17px;
  font-size:12px;
}
#u9871 {
  position:absolute;
  left:0px;
  top:0px;
  width:197px;
  word-wrap:break-word;
}
#u9872_div {
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:right;
}
#u9872 {
  position:absolute;
  left:338px;
  top:201px;
  width:31px;
  height:22px;
  text-align:right;
}
#u9873 {
  position:absolute;
  left:2px;
  top:2px;
  width:27px;
  white-space:nowrap;
}
#u9874_div {
  position:absolute;
  left:0px;
  top:0px;
  width:318px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u9874 {
  position:absolute;
  left:60px;
  top:566px;
  width:318px;
  height:40px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u9875 {
  position:absolute;
  left:2px;
  top:9px;
  width:314px;
  word-wrap:break-word;
}
#u9876 {
  position:absolute;
  left:60px;
  top:566px;
  width:318px;
  height:40px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u9877 {
  position:absolute;
  left:323px;
  top:99px;
  width:55px;
  height:150px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
