body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1065px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1311_div {
  position:absolute;
  left:0px;
  top:0px;
  width:318px;
  height:506px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1311 {
  position:absolute;
  left:60px;
  top:100px;
  width:318px;
  height:506px;
}
#u1312 {
  position:absolute;
  left:2px;
  top:245px;
  width:314px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1313_div {
  position:absolute;
  left:0px;
  top:0px;
  width:318px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1313 {
  position:absolute;
  left:60px;
  top:60px;
  width:318px;
  height:40px;
}
#u1314 {
  position:absolute;
  left:2px;
  top:12px;
  width:314px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1315_img {
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  height:26px;
}
#u1315 {
  position:absolute;
  left:70px;
  top:67px;
  width:17px;
  height:26px;
}
#u1316 {
  position:absolute;
  left:2px;
  top:5px;
  width:13px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1317_div {
  position:absolute;
  left:0px;
  top:0px;
  width:117px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  font-size:14px;
  text-align:center;
}
#u1317 {
  position:absolute;
  left:162px;
  top:72px;
  width:117px;
  height:20px;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  font-size:14px;
  text-align:center;
}
#u1318 {
  position:absolute;
  left:0px;
  top:0px;
  width:117px;
  word-wrap:break-word;
}
#u1319 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1320_div {
  position:absolute;
  left:0px;
  top:0px;
  width:318px;
  height:35px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(242, 242, 242, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1320 {
  position:absolute;
  left:60px;
  top:216px;
  width:318px;
  height:35px;
}
#u1321 {
  position:absolute;
  left:2px;
  top:10px;
  width:314px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1322 {
  position:absolute;
  left:75px;
  top:224px;
  width:58px;
  height:18px;
}
#u1323 {
  position:absolute;
  left:16px;
  top:0px;
  width:40px;
  word-wrap:break-word;
}
#u1322_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u1324_div {
  position:absolute;
  left:0px;
  top:0px;
  width:102px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:13px;
  text-align:right;
}
#u1324 {
  position:absolute;
  left:249px;
  top:224px;
  width:102px;
  height:15px;
  font-size:13px;
  text-align:right;
}
#u1325 {
  position:absolute;
  left:0px;
  top:0px;
  width:102px;
  word-wrap:break-word;
}
#u1326_div {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1326 {
  position:absolute;
  left:75px;
  top:194px;
  width:37px;
  height:16px;
}
#u1327 {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  word-wrap:break-word;
}
#u1328 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1329_div {
  position:absolute;
  left:0px;
  top:0px;
  width:318px;
  height:35px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(242, 242, 242, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1329 {
  position:absolute;
  left:60px;
  top:248px;
  width:318px;
  height:35px;
}
#u1330 {
  position:absolute;
  left:2px;
  top:10px;
  width:314px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1331 {
  position:absolute;
  left:75px;
  top:256px;
  width:58px;
  height:18px;
}
#u1332 {
  position:absolute;
  left:16px;
  top:0px;
  width:40px;
  word-wrap:break-word;
}
#u1331_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u1333_div {
  position:absolute;
  left:0px;
  top:0px;
  width:102px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:13px;
  text-align:right;
}
#u1333 {
  position:absolute;
  left:249px;
  top:256px;
  width:102px;
  height:15px;
  font-size:13px;
  text-align:right;
}
#u1334 {
  position:absolute;
  left:0px;
  top:0px;
  width:102px;
  word-wrap:break-word;
}
#u1335 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1336_div {
  position:absolute;
  left:0px;
  top:0px;
  width:318px;
  height:35px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(242, 242, 242, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1336 {
  position:absolute;
  left:60px;
  top:309px;
  width:318px;
  height:35px;
}
#u1337 {
  position:absolute;
  left:2px;
  top:10px;
  width:314px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1338 {
  position:absolute;
  left:75px;
  top:317px;
  width:58px;
  height:18px;
}
#u1339 {
  position:absolute;
  left:16px;
  top:0px;
  width:40px;
  word-wrap:break-word;
}
#u1338_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u1340_div {
  position:absolute;
  left:0px;
  top:0px;
  width:102px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:13px;
  text-align:right;
}
#u1340 {
  position:absolute;
  left:249px;
  top:317px;
  width:102px;
  height:15px;
  font-size:13px;
  text-align:right;
}
#u1341 {
  position:absolute;
  left:0px;
  top:0px;
  width:102px;
  word-wrap:break-word;
}
#u1342_div {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1342 {
  position:absolute;
  left:75px;
  top:288px;
  width:37px;
  height:16px;
}
#u1343 {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  word-wrap:break-word;
}
#u1344 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1345_div {
  position:absolute;
  left:0px;
  top:0px;
  width:318px;
  height:35px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(242, 242, 242, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1345 {
  position:absolute;
  left:60px;
  top:342px;
  width:318px;
  height:35px;
}
#u1346 {
  position:absolute;
  left:2px;
  top:10px;
  width:314px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1347 {
  position:absolute;
  left:75px;
  top:350px;
  width:58px;
  height:18px;
}
#u1348 {
  position:absolute;
  left:16px;
  top:0px;
  width:40px;
  word-wrap:break-word;
}
#u1347_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u1349_div {
  position:absolute;
  left:0px;
  top:0px;
  width:102px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:13px;
  text-align:right;
}
#u1349 {
  position:absolute;
  left:249px;
  top:350px;
  width:102px;
  height:15px;
  font-size:13px;
  text-align:right;
}
#u1350 {
  position:absolute;
  left:0px;
  top:0px;
  width:102px;
  word-wrap:break-word;
}
#u1351 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1352_div {
  position:absolute;
  left:0px;
  top:0px;
  width:318px;
  height:35px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(242, 242, 242, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1352 {
  position:absolute;
  left:60px;
  top:397px;
  width:318px;
  height:35px;
}
#u1353 {
  position:absolute;
  left:2px;
  top:10px;
  width:314px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1354 {
  position:absolute;
  left:75px;
  top:406px;
  width:58px;
  height:18px;
}
#u1355 {
  position:absolute;
  left:16px;
  top:0px;
  width:40px;
  word-wrap:break-word;
}
#u1354_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u1356_div {
  position:absolute;
  left:0px;
  top:0px;
  width:102px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:13px;
  text-align:right;
}
#u1356 {
  position:absolute;
  left:249px;
  top:406px;
  width:102px;
  height:15px;
  font-size:13px;
  text-align:right;
}
#u1357 {
  position:absolute;
  left:0px;
  top:0px;
  width:102px;
  word-wrap:break-word;
}
#u1358_div {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1358 {
  position:absolute;
  left:75px;
  top:377px;
  width:37px;
  height:16px;
}
#u1359 {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  word-wrap:break-word;
}
#u1360 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1361_div {
  position:absolute;
  left:0px;
  top:0px;
  width:318px;
  height:35px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(242, 242, 242, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1361 {
  position:absolute;
  left:60px;
  top:430px;
  width:318px;
  height:35px;
}
#u1362 {
  position:absolute;
  left:2px;
  top:10px;
  width:314px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1363 {
  position:absolute;
  left:75px;
  top:438px;
  width:58px;
  height:18px;
}
#u1364 {
  position:absolute;
  left:16px;
  top:0px;
  width:40px;
  word-wrap:break-word;
}
#u1363_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u1365_div {
  position:absolute;
  left:0px;
  top:0px;
  width:102px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:13px;
  text-align:right;
}
#u1365 {
  position:absolute;
  left:249px;
  top:438px;
  width:102px;
  height:15px;
  font-size:13px;
  text-align:right;
}
#u1366 {
  position:absolute;
  left:0px;
  top:0px;
  width:102px;
  word-wrap:break-word;
}
#u1367 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1368_div {
  position:absolute;
  left:0px;
  top:0px;
  width:318px;
  height:35px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(242, 242, 242, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1368 {
  position:absolute;
  left:60px;
  top:491px;
  width:318px;
  height:35px;
}
#u1369 {
  position:absolute;
  left:2px;
  top:10px;
  width:314px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1370 {
  position:absolute;
  left:75px;
  top:499px;
  width:58px;
  height:18px;
}
#u1371 {
  position:absolute;
  left:16px;
  top:0px;
  width:40px;
  word-wrap:break-word;
}
#u1370_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u1372_div {
  position:absolute;
  left:0px;
  top:0px;
  width:102px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:13px;
  text-align:right;
}
#u1372 {
  position:absolute;
  left:249px;
  top:499px;
  width:102px;
  height:15px;
  font-size:13px;
  text-align:right;
}
#u1373 {
  position:absolute;
  left:0px;
  top:0px;
  width:102px;
  word-wrap:break-word;
}
#u1374_div {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1374 {
  position:absolute;
  left:75px;
  top:470px;
  width:37px;
  height:16px;
}
#u1375 {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  word-wrap:break-word;
}
#u1376 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1377_div {
  position:absolute;
  left:0px;
  top:0px;
  width:318px;
  height:35px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(242, 242, 242, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1377 {
  position:absolute;
  left:60px;
  top:523px;
  width:318px;
  height:35px;
}
#u1378 {
  position:absolute;
  left:2px;
  top:10px;
  width:314px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1379 {
  position:absolute;
  left:75px;
  top:531px;
  width:58px;
  height:18px;
}
#u1380 {
  position:absolute;
  left:16px;
  top:0px;
  width:40px;
  word-wrap:break-word;
}
#u1379_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u1381_div {
  position:absolute;
  left:0px;
  top:0px;
  width:102px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:13px;
  text-align:right;
}
#u1381 {
  position:absolute;
  left:249px;
  top:531px;
  width:102px;
  height:15px;
  font-size:13px;
  text-align:right;
}
#u1382 {
  position:absolute;
  left:0px;
  top:0px;
  width:102px;
  word-wrap:break-word;
}
#u1383_div {
  position:absolute;
  left:0px;
  top:0px;
  width:34px;
  height:485px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#000000;
  text-align:center;
}
#u1383 {
  position:absolute;
  left:351px;
  top:103px;
  width:34px;
  height:485px;
  color:#000000;
  text-align:center;
}
#u1384 {
  position:absolute;
  left:0px;
  top:0px;
  width:34px;
  word-wrap:break-word;
}
#u1385_div {
  position:absolute;
  left:0px;
  top:0px;
  width:318px;
  height:37px;
  background:inherit;
  background-color:rgba(204, 204, 204, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(242, 242, 242, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1385 {
  position:absolute;
  left:60px;
  top:569px;
  width:318px;
  height:37px;
}
#u1386 {
  position:absolute;
  left:2px;
  top:10px;
  width:314px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1387 {
  position:absolute;
  left:75px;
  top:579px;
  width:100px;
  height:18px;
}
#u1388 {
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u1387_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u1389_div {
  position:absolute;
  left:0px;
  top:0px;
  width:151px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:13px;
}
#u1389 {
  position:absolute;
  left:144px;
  top:579px;
  width:151px;
  height:18px;
  font-size:13px;
}
#u1390 {
  position:absolute;
  left:0px;
  top:0px;
  width:151px;
  white-space:nowrap;
}
#u1391_div {
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  height:23px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  text-align:right;
}
#u1391 {
  position:absolute;
  left:332px;
  top:68px;
  width:36px;
  height:23px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  text-align:right;
}
#u1392 {
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  word-wrap:break-word;
}
#u1393_div {
  position:absolute;
  left:0px;
  top:0px;
  width:125px;
  height:40px;
  background:inherit;
  background-color:rgba(204, 204, 204, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  text-align:left;
}
#u1393 {
  position:absolute;
  left:388px;
  top:60px;
  width:125px;
  height:40px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  text-align:left;
}
#u1394 {
  position:absolute;
  left:2px;
  top:11px;
  width:121px;
  word-wrap:break-word;
}
#u1395_div {
  position:absolute;
  left:0px;
  top:0px;
  width:125px;
  height:40px;
  background:inherit;
  background-color:rgba(204, 204, 204, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:left;
}
#u1395 {
  position:absolute;
  left:388px;
  top:99px;
  width:125px;
  height:40px;
  text-align:left;
}
#u1396 {
  position:absolute;
  left:2px;
  top:11px;
  width:121px;
  word-wrap:break-word;
}
#u1397_div {
  position:absolute;
  left:0px;
  top:0px;
  width:266px;
  height:29px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1397 {
  position:absolute;
  left:85px;
  top:110px;
  width:266px;
  height:29px;
}
#u1398 {
  position:absolute;
  left:2px;
  top:4px;
  width:262px;
  word-wrap:break-word;
}
#u1399 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1400_div {
  position:absolute;
  left:0px;
  top:0px;
  width:318px;
  height:35px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(242, 242, 242, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1400 {
  position:absolute;
  left:60px;
  top:147px;
  width:318px;
  height:35px;
}
#u1401 {
  position:absolute;
  left:2px;
  top:10px;
  width:314px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1402 {
  position:absolute;
  left:75px;
  top:155px;
  width:58px;
  height:18px;
}
#u1403 {
  position:absolute;
  left:16px;
  top:0px;
  width:40px;
  word-wrap:break-word;
}
#u1402_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u1404_div {
  position:absolute;
  left:0px;
  top:0px;
  width:102px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:13px;
  text-align:right;
}
#u1404 {
  position:absolute;
  left:249px;
  top:155px;
  width:102px;
  height:15px;
  font-size:13px;
  text-align:right;
}
#u1405 {
  position:absolute;
  left:0px;
  top:0px;
  width:102px;
  word-wrap:break-word;
}
#u1406 {
  position:absolute;
  left:60px;
  top:59px;
  width:40px;
  height:40px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u1407_div {
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  height:22px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u1407 {
  position:absolute;
  left:332px;
  top:579px;
  width:36px;
  height:22px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u1408 {
  position:absolute;
  left:2px;
  top:2px;
  width:32px;
  word-wrap:break-word;
}
#u1409 {
  position:absolute;
  left:328px;
  top:570px;
  width:50px;
  height:36px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u1410 {
  position:absolute;
  left:388px;
  top:60px;
  width:125px;
  height:40px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u1411 {
  position:absolute;
  left:388px;
  top:100px;
  width:125px;
  height:40px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u1412 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1413_div {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u1413 {
  position:absolute;
  left:552px;
  top:60px;
  width:73px;
  height:25px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u1414 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u1415_img {
  position:absolute;
  left:0px;
  top:0px;
  width:201px;
  height:2px;
}
#u1415 {
  position:absolute;
  left:552px;
  top:90px;
  width:200px;
  height:1px;
}
#u1416 {
  position:absolute;
  left:2px;
  top:-8px;
  width:196px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1417_div {
  position:absolute;
  left:0px;
  top:0px;
  width:513px;
  height:51px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:13px;
  color:#FF0000;
}
#u1417 {
  position:absolute;
  left:552px;
  top:105px;
  width:513px;
  height:51px;
  font-size:13px;
  color:#FF0000;
}
#u1418 {
  position:absolute;
  left:0px;
  top:0px;
  width:513px;
  white-space:nowrap;
}
#u1419 {
  position:absolute;
  left:85px;
  top:110px;
  width:266px;
  height:29px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
