body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:378px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u9952_div {
  position:absolute;
  left:0px;
  top:0px;
  width:318px;
  height:506px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u9952 {
  position:absolute;
  left:60px;
  top:100px;
  width:318px;
  height:506px;
}
#u9953 {
  position:absolute;
  left:2px;
  top:245px;
  width:314px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9954_div {
  position:absolute;
  left:0px;
  top:0px;
  width:318px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u9954 {
  position:absolute;
  left:60px;
  top:60px;
  width:318px;
  height:40px;
}
#u9955 {
  position:absolute;
  left:2px;
  top:12px;
  width:314px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9956_img {
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  height:26px;
}
#u9956 {
  position:absolute;
  left:70px;
  top:67px;
  width:17px;
  height:26px;
}
#u9957 {
  position:absolute;
  left:2px;
  top:5px;
  width:13px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9958_div {
  position:absolute;
  left:0px;
  top:0px;
  width:117px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  font-size:14px;
  text-align:center;
}
#u9958 {
  position:absolute;
  left:161px;
  top:70px;
  width:117px;
  height:20px;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  font-size:14px;
  text-align:center;
}
#u9959 {
  position:absolute;
  left:0px;
  top:0px;
  width:117px;
  word-wrap:break-word;
}
#u9960_div {
  position:absolute;
  left:0px;
  top:0px;
  width:318px;
  height:506px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u9960 {
  position:absolute;
  left:60px;
  top:99px;
  width:318px;
  height:506px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u9961 {
  position:absolute;
  left:2px;
  top:245px;
  width:314px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9962_div {
  position:absolute;
  left:0px;
  top:0px;
  width:318px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u9962 {
  position:absolute;
  left:60px;
  top:161px;
  width:318px;
  height:40px;
}
#u9963 {
  position:absolute;
  left:2px;
  top:12px;
  width:314px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9964_div {
  position:absolute;
  left:0px;
  top:0px;
  width:262px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:13px;
}
#u9964 {
  position:absolute;
  left:74px;
  top:172px;
  width:262px;
  height:18px;
  font-size:13px;
}
#u9965 {
  position:absolute;
  left:0px;
  top:0px;
  width:262px;
  word-wrap:break-word;
}
#u9966_div {
  position:absolute;
  left:0px;
  top:0px;
  width:318px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u9966 {
  position:absolute;
  left:60px;
  top:200px;
  width:318px;
  height:40px;
}
#u9967 {
  position:absolute;
  left:2px;
  top:12px;
  width:314px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9968_div {
  position:absolute;
  left:0px;
  top:0px;
  width:262px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:13px;
}
#u9968 {
  position:absolute;
  left:74px;
  top:210px;
  width:262px;
  height:18px;
  font-size:13px;
}
#u9969 {
  position:absolute;
  left:0px;
  top:0px;
  width:262px;
  word-wrap:break-word;
}
#u9970_div {
  position:absolute;
  left:0px;
  top:0px;
  width:318px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u9970 {
  position:absolute;
  left:60px;
  top:239px;
  width:318px;
  height:40px;
}
#u9971 {
  position:absolute;
  left:2px;
  top:12px;
  width:314px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9972_div {
  position:absolute;
  left:0px;
  top:0px;
  width:262px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:13px;
}
#u9972 {
  position:absolute;
  left:74px;
  top:249px;
  width:262px;
  height:18px;
  font-size:13px;
}
#u9973 {
  position:absolute;
  left:0px;
  top:0px;
  width:262px;
  word-wrap:break-word;
}
#u9974_div {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:13px;
  text-align:center;
}
#u9974 {
  position:absolute;
  left:353px;
  top:211px;
  width:25px;
  height:15px;
  font-size:13px;
  text-align:center;
}
#u9975 {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  word-wrap:break-word;
}
#u9976_div {
  position:absolute;
  left:0px;
  top:0px;
  width:318px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u9976 {
  position:absolute;
  left:60px;
  top:122px;
  width:318px;
  height:40px;
}
#u9977 {
  position:absolute;
  left:2px;
  top:12px;
  width:314px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9978_div {
  position:absolute;
  left:0px;
  top:0px;
  width:262px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:13px;
}
#u9978 {
  position:absolute;
  left:74px;
  top:132px;
  width:262px;
  height:18px;
  font-size:13px;
}
#u9979 {
  position:absolute;
  left:0px;
  top:0px;
  width:262px;
  word-wrap:break-word;
}
#u9980_div {
  position:absolute;
  left:0px;
  top:0px;
  width:294px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u9980 {
  position:absolute;
  left:74px;
  top:411px;
  width:294px;
  height:40px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u9981 {
  position:absolute;
  left:2px;
  top:11px;
  width:290px;
  word-wrap:break-word;
}
#u9982 {
  position:absolute;
  left:60px;
  top:60px;
  width:40px;
  height:40px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u9983 {
  position:absolute;
  left:60px;
  top:201px;
  width:318px;
  height:40px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u9984 {
  position:absolute;
  left:74px;
  top:411px;
  width:294px;
  height:40px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u9985_div {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u9985 {
  position:absolute;
  left:327px;
  top:65px;
  width:41px;
  height:30px;
}
#u9986 {
  position:absolute;
  left:2px;
  top:6px;
  width:37px;
  word-wrap:break-word;
}
