body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:919px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u9407_div {
  position:absolute;
  left:0px;
  top:0px;
  width:318px;
  height:506px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u9407 {
  position:absolute;
  left:60px;
  top:100px;
  width:318px;
  height:506px;
}
#u9408 {
  position:absolute;
  left:2px;
  top:245px;
  width:314px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9409_div {
  position:absolute;
  left:0px;
  top:0px;
  width:318px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u9409 {
  position:absolute;
  left:60px;
  top:60px;
  width:318px;
  height:40px;
}
#u9410 {
  position:absolute;
  left:2px;
  top:12px;
  width:314px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9411_img {
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  height:26px;
}
#u9411 {
  position:absolute;
  left:70px;
  top:67px;
  width:17px;
  height:26px;
}
#u9412 {
  position:absolute;
  left:2px;
  top:5px;
  width:13px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9413 {
  position:absolute;
  left:60px;
  top:59px;
  width:40px;
  height:40px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u9414_div {
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  font-size:14px;
  text-align:center;
}
#u9414 {
  position:absolute;
  left:139px;
  top:69px;
  width:160px;
  height:20px;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  font-size:14px;
  text-align:center;
}
#u9415 {
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  word-wrap:break-word;
}
#u9416_div {
  position:absolute;
  left:0px;
  top:0px;
  width:131px;
  height:45px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u9416 {
  position:absolute;
  left:147px;
  top:150px;
  width:131px;
  height:45px;
}
#u9417 {
  position:absolute;
  left:0px;
  top:0px;
  width:131px;
  white-space:nowrap;
}
#u9418_div {
  position:absolute;
  left:0px;
  top:0px;
  width:312px;
  height:54px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
}
#u9418 {
  position:absolute;
  left:63px;
  top:256px;
  width:312px;
  height:54px;
  font-size:18px;
}
#u9419 {
  position:absolute;
  left:2px;
  top:14px;
  width:308px;
  word-wrap:break-word;
}
#u9420_div {
  position:absolute;
  left:0px;
  top:0px;
  width:312px;
  height:72px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:13px;
}
#u9420 {
  position:absolute;
  left:63px;
  top:495px;
  width:312px;
  height:72px;
  font-size:13px;
}
#u9421 {
  position:absolute;
  left:0px;
  top:0px;
  width:312px;
  word-wrap:break-word;
}
#u9422_div {
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-align:right;
}
#u9422 {
  position:absolute;
  left:315px;
  top:70px;
  width:55px;
  height:18px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-align:right;
}
#u9423 {
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  word-wrap:break-word;
}
#u9424 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u9425_div {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u9425 {
  position:absolute;
  left:493px;
  top:60px;
  width:73px;
  height:25px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u9426 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u9427_img {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:2px;
}
#u9427 {
  position:absolute;
  left:493px;
  top:90px;
  width:179px;
  height:1px;
}
#u9428 {
  position:absolute;
  left:2px;
  top:-8px;
  width:175px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9429_div {
  position:absolute;
  left:0px;
  top:0px;
  width:426px;
  height:116px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u9429 {
  position:absolute;
  left:493px;
  top:105px;
  width:426px;
  height:116px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u9430 {
  position:absolute;
  left:0px;
  top:0px;
  width:426px;
  word-wrap:break-word;
}
#u9431 {
  position:absolute;
  left:63px;
  top:256px;
  width:312px;
  height:54px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u9432 {
  position:absolute;
  left:299px;
  top:59px;
  width:79px;
  height:40px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u9433_div {
  position:absolute;
  left:0px;
  top:0px;
  width:164px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u9433 {
  position:absolute;
  left:137px;
  top:320px;
  width:164px;
  height:18px;
}
#u9434 {
  position:absolute;
  left:0px;
  top:0px;
  width:164px;
  word-wrap:break-word;
}
#u9435_div {
  position:absolute;
  left:0px;
  top:0px;
  width:164px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u9435 {
  position:absolute;
  left:402px;
  top:324px;
  width:164px;
  height:18px;
}
#u9436 {
  position:absolute;
  left:0px;
  top:0px;
  width:164px;
  word-wrap:break-word;
}
#u9437 {
  position:absolute;
  left:228px;
  top:320px;
  width:59px;
  height:18px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
